body {
  font-family: "Lato", sans-serif;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 95%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #021024; /*color ng sidenav*/
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}

.progress{
  color: #818181; /*color ng progress bas yung font nung 0 of 110 chuchunes*/
  text-align: center;
  font-family: "Lato", sans-serif;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181; /*font color nung mga text sa side bar*/
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  border-radius: 25px;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;/*color pag natapatan ng cursor or nung mouse ponter yung nasa side nav*/
  background-color: #7DA0CA;
}

/* Main content */
#main {
  /*margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  /*padding: 10px;*/
  transition: margin-left.5s;


}

/* Add an active class to the active dropdown button */
.active {
  background-color: #5483b3;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #021024; /*color ng container ng mge exercises*/
  width: 170px;
  padding-left: 20px;
}
.dropdown-items{
  margin-top: 5px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
  width: min-contents;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.h-nav{
  display: flex;
  align-items: center;
}
.h-nav a{
    vertical-align: middle;
    font-size: 20px; 
    color: #818181; 
    margin-right: 18px;
    margin-left: 11px;
    transition: all .50s ease;
    text-decoration: none;
}
.outer-container{
  border-radius: 24px; 
  background-color: #7DA0CA;/*color nung outer continer*/
  height: 600px;
  width: 1100px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px;
}
.q-container{ 
  border-radius: 10px;
  background-color: #a7dcfb;/*color nung question container yung may laman question*/
  width: 95%;
  height: 50px;
  margin: auto;
  text-align: center;
  
}
.code-container{
  float: left;
  width: 45%;
  height: 77%;
  background-color: #C1E8FF; /*color ng code conatiner yung may laman code*/
  margin-top: 10px;
  margin-left: 29px;
  border-radius: 10px;
  overflow-x: hidden;
  padding: 10px;
}
.op-container{
  float: right;
  width: 45%;
  height: 77%;
  background-color: #C1E8FF; /*color ng output conatiner yung may laman output*/
  margin-top: 10px;
  margin-right: 29px;
  border-radius: 10px;
  overflow-x: hidden;
  padding: 10px;
}
.submit-btn{ /*para sa sumbit button*/
  text-align: center;
  width: 10%;
  border-radius: 15px;
  padding: 10px 40px;
  text-decoration: none;
  font-weight: 100;
  background-color: #06234b;
  color: #f1f1f1;
  cursor: pointer;
  margin-left: 480px;

}

.show-btn{/*wag pansinin sa show answer toh*/
  text-align: center;
  width: 10%;
  border-radius: 15px;
  padding: 10px 40px;
  text-decoration: none;
  font-weight: 100;
  background-color: #021024;
  color: #f1f1f1;
  cursor: pointer;
}
.cw-container{
  border-radius: 24px; 
  background-color: #7DA0CA;/*color nung outer continer*/
  height: 600px;
  width: 1100px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px;
  font-size: 100px;
  text-align: center;
}
.tn-btn{/*wag pansinin sa show answer toh*/
  text-align: center;
  width: 10%;
  border-radius: 15px;
  padding: 10px 40px;
  text-decoration: none;
  font-weight: 100;
  background-color: #021024;
  color: #f1f1f1;
  cursor: pointer;
}
